body {
    background-color: rgb(77, 46, 105);
}

h1 {
    color: white;
    margin: 40px;
}

input {
    background-color: rgb(235, 161, 238);
    border: 1px solid transparent;
    height: 20px;
    font-size: 18px;
    outline: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 15px 1px;
    width: 35%;
}

input:hover {
    border: 1px solid orange;
}

a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400px;
    transition: 300ms ease;
}

a:hover {
    transform: scale(1.3);
    color: rgb(245, 245, 58);
}

form {
    background-color: rgb(180, 97, 248);
    border: 3px solid rgb(130, 73, 235);
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 20px;
    /*arrumar (resposividade)*/
    text-align: center;
    margin-top: 5%;
}

form label {
    justify-content: center;
    font-size: 18px;
    font-family: monospace;    
}

.formPut {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 20px;
    /*arrumar (resposividade)*/
    text-align: center;

}

table {
    border: 1px groove black;
    padding: 20px;
    background-color: lightblue;
    width: 95%;
    text-align: center;
    border-radius: 20px;
}

table th {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding-right: 20px;
    padding-left: 20px;
}

table td {
    font-size: 13px;
    word-wrap: break-word;
    padding-right: 40px;
    border: 1px solid black;
    border-radius: 3px;
    padding-right: 20px;
    padding-left: 20px;
}

nav {
    justify-content: space-between;
    display: flex;
    max-width: 800px;
    
}

nav a {
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5px 13px 5px 13px;
    border-radius: 10px;
}

nav a:hover {
    transform: scale(1.3);
    cursor: pointer;
    box-shadow: 2px 2px 10px rgb(36, 36, 36);
    padding: 5px 13px 5px 13px;
    border-radius: 10px;
    background-color: rgb(114, 55, 170);
}

.formDelete {
    margin-bottom: 15px;
    margin-top: 40px;
}

.formDelete label{
    font-size: 20px;
    font-family: monospace;
}

.formPut label {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: monospace;

}

.formPost {
    background-color: rgb(180, 97, 248);
    border: 3px solid rgb(130, 73, 235);
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 20px;
    /*arrumar (resposividade)*/
    text-align: center;
}

.formPost label {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: monospace;
}

button {
    padding: 5px 13px 5px 13px;
    font-size: 15px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifa;
    border: 1px groove rgb(80, 0, 117);
    background-color: rgb(128, 72, 180);
    color: rgb(255, 167, 5);
    transform: scale(1.1);
    transition: 400ms ease;
    margin: 15px;
}

button:hover {
    transform: scale(1.3);
    cursor: pointer;
    box-shadow: 2px 2px 10px rgb(36, 36, 36);
    background-color: rgb(212, 152, 41);
    color: rgb(92, 34, 146);
}

p {
    font-size: 17px;
}

